<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    
  <section id="one" class="panel">
    <div id="svg-wrapper">
      <img id="marvel-svg" src="https://cdn.glitch.com/6bbc355b-2452-4bc6-bd23-083a6f363155%2Fmarvel.svg?1552157895344" alt="marvel">
      <h2 id="presents">
        Presents
      </h2>
      <div id="arrow-wrapper">
        <svg id="arrow">
          <path d="M31.94,25.58c1.23-1.21,2.44-2.38,3.63-3.57c6.81-6.84,13.6-13.69,20.41-20.52c2.4-2.41,6.27-1.76,7.57,1.3
            c0.77,1.8,0.53,3.54-0.81,4.98c-1.65,1.78-3.4,3.46-5.11,5.18c-7.33,7.38-14.69,14.74-21.99,22.15c-1.65,1.67-4.24,1.8-5.77,1.06
            c-0.52-0.25-1.02-0.59-1.43-0.99c-9-9.03-17.98-18.07-26.96-27.11c-2.55-2.57-1.64-6.71,1.72-7.8c1.81-0.59,3.41-0.13,4.75,1.2
            c2.04,2.04,4.07,4.09,6.1,6.13c5.88,5.91,11.75,11.82,17.63,17.73C31.75,25.41,31.85,25.5,31.94,25.58z"/>
        </svg>
      </div>
    </div>
  </section>
  
  <section id="two" class="panel">
    <div class="side left" id="pic">
    </div>
    <div class="side right">
      <h1 id="name">

      </h1>
      <p id="description">
        
      </p>
    </div>
  </section>
    
  <section id="three" class="panel">
    <div class="side left">
      <h2>
        Links
      </h2>
    </div>
    <div class="side right">
      <div class="link-wrapper" id="details">
        
      </div>
      <div class="link-wrapper" id="wiki">
        
      </div>
      <div class="link-wrapper" id="comics">
        
      </div>
    </div>
  </section>
    
  <section id="four" class="panel">
    <div class="side left">
      <canvas id="myChart"></canvas>
    </div>
    <div class="side right">
      <h1>
        Stats
      </h1>
    </div>
  </section>

    
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

  </body>
</html>
