/* styles */
/* called by your view template */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

.panel {
	height: 100vh;
}

.one{
  background: black;
}

.two{
  background: green;
}

.three{
  background: red;
}

.four{
  background: yellow;
}

#daredevil-svg {
  max-height: 80vh;
  float: left;
}

h1{
  font-family: 'Bangers', cursive;
  color: white;
  margin: 0;
}

p{
  margin:0;
}
