/* styles */
/* called by your view template */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  color: white;
}

.panel {
	height: 100vh;
  display: flex;
}

#one{
  background: maroon;
}

#two{
  background: black;
}

#three{
  background: green;
}

#four{
  background: pink;
}

#picture {
  max-height: 100%;
  max-width: 100%;
}

h1, h2{
  margin: 0;
  margin-bottom: 40px;
  letter-spacing: 4px;
  font-family: 'Bangers', sans-serif;
  color: white;
  font-size: 8em;
}

p{
  margin:0 20px;
}

.side{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a{
  letter-spacing: 4px;
  font-family: 'Bangers', sans-serif;
  color: white;
  font-size: 4em;
}

.link-wrapper{
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.icon{
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

#myChart{
  width:90%;
  height:90%;
}

#svg-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10em auto;
}

#marvel-svg{
  margin-top: 1em;
}

#scroll{
  margin-bottom: 1em;
}

#arrow{
  height: 100px;
  width: 64px;
  fill: white;
}

#arrow-wrapper{
  animation: wiggle 1s infinite alternate ease-in-out;
}

@keyframes wiggle {
  from {padding-top: 0;}
  to {padding-top: 1em;}
}

@media only screen and (max-width: 600px) {
  .panel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}