/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.panel {
	height: 100%;
	width: 100%;
}

.panel.four {
	margin-bottom: 400px;
}

.one{
  height: 100%;
	width: 100%;
  background: black;
}

.two{
  background: green;
}

.three{
  background: red;
}

.four{
  background: yellow;
}

#daredevil-svg {
  max-height: 80vh;
  float: left;
}

h1{
  font-family: 'Bangers', cursive;
}
